* {
	padding: 0;
	margin: 0;
	transition: 1s;
}

html {
	font-family: "Kanit", sans-serif;
	font-size: 3em;
	scroll-behavior: smooth;
}

.snap-parent {
	overflow: scroll;
	width: 100vw;
	height: 100vh;
	scroll-snap-points-y: repeat(100vh);
	scroll-snap-type: y mandatory;
}

section {
	display: flex;
	width: 100vw;
	height: 100vh;
	align-items: center;
	justify-content: center;
	scroll-snap-align: start;
}

section.sec-purpol {
	background: #7d147d;
}

section.sec-fucksia {
	background: #961464;
}

section.sec-grehn {
	background: #149664;
}

section.sec-mono {
	background: #161616;
}

section>p {
	padding: 20px;
	margin: 0px;
	color: gainsboro;
	cursor: pointer;
}

section>p:hover {
	color: cyan;
	cursor: pointer;
}
