* {
  margin: 0;
  padding: 0;
  transition: 1s;
}

html {
  scroll-behavior: smooth;
  font-family: "Kanit", sans-serif;
  font-size: 3em;
}

.snap-parent {
  width: 100vw;
  height: 100vh;
  overflow: scroll;
  scroll-snap-points-y: repeat(100vh);
  scroll-snap-type: y mandatory;
}

section {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  scroll-snap-align: start;
}

section.sec-purpol {
  background: #7d147d;
}

section.sec-fucksia {
  background: #961464;
}

section.sec-grehn {
  background: #149664;
}

section.sec-mono {
  background: #161616;
}

section > p {
  margin: 0px;
  padding: 20px;
  color: gainsboro;
  cursor: pointer;
}

section > p:hover {
  color: cyan;
  cursor: pointer;
}
